* {
  margin: 0;
}
h1 {
  font-family: "Inknut Antiqua", serif;
}
h2 {
  font-family: "Inter", sans-serif;
}
p {
  font-family: "Inter", sans-serif;
}
a {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  gap: 60%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.header-search p {
  display: flex;
  gap: 110px;
  font-size: 12px;
  padding-left: 5px;
  padding-bottom: 7px;
  border-bottom: 1px solid black;
}

.header-search i {
  color: black;
  margin-top: 4%;
}

.header-logo {
  font-size: 18px;
  position: absolute;
}

.nav-header {
  display: flex;
  gap: 32px;
}
/* Header */

/* Justline */

.line {
  border-bottom: 1px solid black;
  margin-top: 2.5%;
}

/* Justline */

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 2%;
}
nav a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/* Navbar */

/* Main */
.container1 {
  margin-top: 5%;
}

.container2 {
  display: flex;
  justify-content: center;
  gap: 130px;
  background-color: #d9d9d9;
  width: 100%;
  height: 80vh;
  margin-top: 4%;
}

.text {
  margin-top: 7%;
}
.text h2 {
  font-size: 50px;
  font-weight: 400;
  color: #1b1958;
}
.text p {
  font-size: 20px;
  color: #6d6d6d;
}

.image1Container2 {
  margin-top: 5%;
}

.image1Container2 p {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.image2Container2 {
  margin-top: 5%;
}

.image2Container2 p {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
/* Second Main */

/* Third Main */
.container3 {
  display: flex;
  justify-content: center;
  gap: 130px;
  background-color: #d9d9d9;
  width: 100%;
  height: 98vh;
  margin-top: 4%;
}

.textContainer3 {
  margin-top: 7%;
}

.textContainer3 h2 {
  font-size: 50px;
  font-weight: 400;
  color: #1b1958;
}

.textContainer3 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}
.image1Container3 {
  margin-top: 6%;
}

.container3part2 {
  display: flex;
  justify-content: center;
  gap: 80px;
  background-color: #d9d9d9;
  width: 100%;
  height: 70vh;
}

.image2Container3 p {
  display: flex;
  justify-content: space-between;
}
.image3Container3 p {
  display: flex;
  justify-content: space-between;
}
.image4Container3 p {
  display: flex;
  justify-content: space-between;
}

/* Container4 */
.container4 {
  display: flex;
  justify-content: center;
  gap: 130px;
  background-color: #d9d9d9;
  width: 100%;
  height: 98vh;
  margin-top: 4%;
}
.image1Container4 {
  margin-top: 6%;
}

.textContainer4 {
  margin-top: 7%;
}
.textContainer4 h2 {
  font-size: 50px;
  font-weight: 400;
  color: #1b1958;
  text-align: right;
}
.textContainer4 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.container4part2 {
  display: flex;
  justify-content: center;
  gap: 80px;
  background-color: #d9d9d9;
  width: 100%;
  height: 70vh;
}

.image2Container4 p {
  display: flex;
  justify-content: space-between;
}

.image3Container4 p {
  display: flex;
  justify-content: space-between;
}

.image4Container4 p {
  display: flex;
  justify-content: space-between;
}
/* Container4*/
.container5 {
  display: flex;
  justify-content: center;
  gap: 130px;
  background-color: #d9d9d9;
  width: 100%;
  height: 80vh;
  margin-top: 4%;
}

.textContainer5 {
  margin-top: 6%;
}
.textContainer5 h2 {
  font-size: 50px;
  font-weight: 400;
  color: #1b1958;
}

.textContainer5 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.image1Container5 {
  margin-top: 5%;
}

.container6 {
  display: flex;
  justify-content: center;
  gap: 70px;
  background-color: #d9d9d9;
  width: 100%;
  height: 80vh;
  margin-top: 4%;
  z-index: 1;
}

.firstItem img {
  z-index: 3;
  margin-top: 3%;
  margin-left: 1.6%;
  position: absolute;
}

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  margin-top: 10%;
  margin-left: -7%;
  z-index: 2;
}

.card1 p {
  line-height: 28px;
  margin-top: 40%;
}

.secondItem img {
  position: absolute;
  margin-top: 3%;
  margin-left: 2.5%;
  z-index: 3;
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  margin-top: 10%;
  margin-left: -6%;
  z-index: 2;
}

.card2 p {
  line-height: 28px;
  margin-top: 32%;
}

.textContainer6 {
  margin-top: 12%;
}

.textContainer6 h2 {
  font-size: 50px;
  font-weight: 400;
  color: #1b1958;
  text-align: right;
}

.textContainer6 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: right;
}

.container7 {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #d9d9d9;
  width: 100%;
  height: 60vh;
  margin-top: 4%;
}

.textContainer7 {
  margin-top: 6%;
}
.textContainer7 h2 {
  font-size: 50px;
  font-weight: 400;
  color: #1b1958;
}

.textContainer7 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.image1Container7 {
  margin-top: 6%;
}

.image2Container7 {
  margin-top: 6%;
}

.container7part2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #d9d9d9;
  width: 100%;
  height: 60vh;
}

.container8 {
  display: flex;
  justify-content: center;
  gap: 460px;
  background-color: #d9d9d9;
  width: 100%;
  height: 46vh;
  margin-top: 4%;
}

.infoCompany {
  margin-top: 1%;
}
.infoCompany h1 {
  font-size: 40px;
}

.infoCompany p {
  font-size: 17px;
  line-height: 26px;
}

.pHeader {
  font-family: "Inknut Antiqua", serif;
  font-size: 38px;
  font-weight: 500;
}

.pSide {
  margin-top: -7%;
}
.aboutUs {
  margin-top: 5%;
}
.aboutUs h2 {
  font-size: 50px;
  font-weight: 400;
  color: #1b1958;
  text-align: right;
}

.aboutUs p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: right;
}

/* line */

.line2 {
  border-bottom: 1px solid black;
}

/* line */

.container8part2 {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  width: 100%;
  height: 36vh;
}

.imageLabel {
  display: flex;
  justify-content: center;
  gap: 13%;
  margin-top: 3%;
}

.label1 img {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-top: 0.5%;
  margin-left: 0.7%;
  z-index: 2;
}

.label1 p {
  text-align: center;
  margin-top: 7%;
}

.cardLabel1 {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 1;
}

.label2 img {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-top: 0.5%;
  margin-left: 0.7%;
  z-index: 2;
}

.label2 p {
  text-align: center;
  margin-top: 7%;
}

.cardLabel2 {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 1;
}

.label3 img {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-top: 0.5%;
  margin-left: 0.7%;
  z-index: 2;
}

.label3 p {
  text-align: center;
  margin-top: 7%;
}

.cardLabel3 {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 1;
}

.label4 img {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-top: 0.5%;
  margin-left: 0.7%;
  z-index: 2;
}

.label4 p {
  text-align: center;
  margin-top: 7%;
}

.cardLabel4 {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 1;
}

.label5 img {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-top: 0.5%;
  margin-left: 0.7%;
  z-index: 2;
}

.label5 p {
  text-align: center;
  margin-top: 7%;
}

.cardLabel5 {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: center;
  gap: 530px;
  background-color: #d9d9d9;
  width: 100%;
  height: 40vh;
  margin-top: 7%;
}

.textFooter {
  margin-top: 3%;
}

.payment {
  margin-top: 5.5%;
}

.payment img {
  margin-top: 2%;
  margin-left: -4.7%;
}

@media only screen and (max-width: 576px) {
  header {
    gap: 1%;
  }

  .header-search p {
    gap: 2.5rem;
    font-size: 10px;
    padding-bottom: 8px;
  }

  .header-search i {
    margin-top: 6%;
  }

  .header-logo {
    font-size: 0.1rem;
  }

  .nav-header {
    gap: 1.4rem;
  }
  /* Header */

  /* Justline */

  .line {
    margin-top: 4.5%;
  }

  /* Justline */

  /* Navbar */
  nav {
    gap: 10;
    margin-top: 3%;
  }

  nav a {
    font-size: 16px;
  }
  /* Navbar */

  .container1 {
    margin-top: 5%;
  }

  /* Container2 */

  .container2 {
    gap: 2.5%;
    height: 61vh;
  }

  .text h2 {
    font-size: 2.1rem;
  }

  .text p {
    font-size: 1.1rem;
  }

  .image1Container2 img {
    width: 4rem;
    height: 1rem;
  }

  .image1Container2 p {
    font-size: 0.9rem;
  }

  .image2Container2 img {
    width: 14rem;
    height: 19rem;
  }

  .image2Container2 p {
    font-size: 0.9rem;
  }
  /* Container2 */

  /* Container3 */
  .container3 {
    gap: 1%;
    height: 60vh;
  }

  .textContainer3 h2 {
    font-size: 1.8rem;
  }

  .textContainer3 p {
    font-size: 1rem;
    line-height: 22px;
  }

  .container3part2 {
    gap: 5%;
    height: 50vh;
  }

  .image2Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image2Container3 p {
    font-size: 0.91rem;
  }

  .image3Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image3Container3 p {
    font-size: 0.91rem;
  }

  .image4Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image4Container3 p {
    font-size: 0.91rem;
  }
  /* Container3 */

  /* Container4 */
  .container4 {
    gap: 1%;
    height: 61vh;
  }

  .image1Container4 img {
    margin-left: 5%;
  }

  .textContainer4 {
    margin-right: 3.4%;
  }

  .textContainer4 h2 {
    font-size: 1.8rem;
  }

  .textContainer4 p {
    font-size: 1rem;
    line-height: 22px;
  }

  .container4part2 {
    gap: 5.3%;
    height: 52vh;
  }

  .image2Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image2Container4 p {
    font-size: 0.91rem;
  }

  .image3Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image3Container4 p {
    font-size: 0.91rem;
  }

  .image4Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image4Container4 p {
    font-size: 0.91rem;
  }
  /* Container4 */

  /* Container5 */
  .container5 {
    gap: 1%;
    height: 56vh;
  }

  .textContainer5 {
    margin-left: 3.5%;
  }

  .textContainer5 h2 {
    font-size: 1.8rem;
  }

  .textContainer5 p {
    font-size: 0.92rem;
    line-height: 23px;
  }

  .image1Container5 img {
    margin-left: 8.5%;
  }
  /* Container5 */

  /* Container6 */
  .container6 {
    gap: 5%;
    height: 48vh;
    margin-top: 4%;
  }

  .firstItem img {
    width: 8rem;
    height: 8rem;
    margin-left: 1.7%;
  }

  .card1 {
    width: 12rem;
    height: 12rem;
  }

  .card1 p {
    font-size: 11.5px;
    line-height: 22px;
  }

  .secondItem img {
    width: 8rem;
    height: 8rem;
    margin-left: 2.7%;
  }

  .card2 {
    width: 12rem;
    height: 12rem;
  }

  .card2 p {
    font-size: 11.5px;
    line-height: 22px;
  }

  .textContainer6 {
    margin-right: -3%;
  }

  .textContainer6 h2 {
    font-size: 1.8rem;
  }

  .textContainer6 p {
    font-size: 0.86em;
    line-height: 22px;
  }
  /* Container6 */

  /* Container7 */
  .container7 {
    gap: 3%;
    height: 35vh;
  }

  .textContainer7 {
    margin-top: 6%;
    margin-right: 2%;
  }

  .textContainer7 h2 {
    font-size: 1.8rem;
  }

  .textContainer7 p {
    font-size: 0.92rem;
    line-height: 24px;
  }

  .image1Container7 img {
    width: 14rem;
    height: 9rem;
  }

  .image2Container7 img {
    width: 10.7rem;
    height: 9rem;
  }

  .container7part2 {
    gap: 3%;
    height: 31vh;
  }

  .image3Container7 img {
    width: 16.1rem;
    height: 9rem;
  }

  .image3Container7 p {
    font-size: 0.91rem;
  }

  .image4Container7 img {
    width: 11rem;
    height: 9rem;
  }

  .image4Container7 p {
    font-size: 0.91rem;
  }

  .image5Container7 img {
    width: 13rem;
    height: 9rem;
  }

  .image5Container7 p {
    font-size: 0.91rem;
  }
  /* Container8 */

  .container8 {
    gap: 19%;
    height: 37vh;
  }

  .infoCompany p {
    font-size: 0.9rem;
    line-height: 22px;
  }

  .pHeader {
    font-family: "Inknut Antiqua", serif;
    font-size: 1.8rem;
  }

  .aboutUs {
    margin-top: 7%;
    margin-right: 1%;
  }

  .aboutUs h2 {
    font-size: 1.8rem;
  }

  .aboutUs p {
    font-size: 0.9rem;
    line-height: 26px;
  }

  /* line */

  .line2 {
    border-bottom: 1px solid black;
  }

  /* line */

  .container8part2 {
    height: 27.3vh;
  }

  .imageLabel {
    gap: 7.6%;
    margin-top: 3.5%;
  }

  .label1 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label1 p {
    font-size: 0.8rem;
  }

  .cardLabel1 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label2 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label2 p {
    font-size: 0.8rem;
  }

  .cardLabel2 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label3 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label3 p {
    font-size: 0.8rem;
  }

  .cardLabel3 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label4 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label4 p {
    font-size: 0.8rem;
  }

  .cardLabel4 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label5 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label5 p {
    font-size: 0.8rem;
  }

  .cardLabel5 {
    width: 6.5rem;
    height: 6.5rem;
  }
  /* Container8 */

  /* Footer*/
  footer {
    gap: 26%;
    height: 31vh;
    margin-top: 5.5%;
  }

  .textFooter {
    margin-top: 6%;
  }

  .textFooter p {
    font-size: 0.9rem;
    line-height: 22px;
  }

  .footerh1 p {
    font-family: "Inknut Antiqua", serif;
    font-size: 1.8rem;
  }

  .payment {
    margin-top: 8.6%;
  }

  .payment p {
    font-size: 0.9rem;
    margin-left: 7.2%;
  }
  .payment img {
    width: 14.5rem;
    height: 4rem;
    margin-top: 2%;
    margin-left: 3%;
  }
  header {
    gap: 56%;
  }

  .header-search p {
    gap: 2.5rem;
    font-size: 12px;
    padding-bottom: 8px;
  }

  .header-search i {
    margin-top: 6%;
  }

  .header-logo {
    font-size: 1.1rem;
  }

  .nav-header {
    gap: 1.4rem;
  }
  /* Header */

  /* Justline */

  .line {
    margin-top: 4.5%;
  }

  /* Justline */

  /* Navbar */
  nav {
    gap: 8%;
    margin-top: 3%;
  }

  nav a {
    font-size: 16px;
  }
  /* Navbar */

  .container1 {
    margin-top: 5%;
  }

  /* Container2 */

  .container2 {
    gap: 2.5%;
    height: 61vh;
  }

  .text h2 {
    font-size: 2.1rem;
  }

  .text p {
    font-size: 1.1rem;
  }

  .image1Container2 img {
    width: 14rem;
    height: 19rem;
  }

  .image1Container2 p {
    font-size: 0.9rem;
  }

  .image2Container2 img {
    width: 14rem;
    height: 19rem;
  }

  .image2Container2 p {
    font-size: 0.9rem;
  }
  /* Container2 */

  /* Container3 */
  .container3 {
    gap: 1%;
    height: 60vh;
  }

  .textContainer3 h2 {
    font-size: 1.8rem;
  }

  .textContainer3 p {
    font-size: 1rem;
    line-height: 22px;
  }

  .container3part2 {
    gap: 5%;
    height: 50vh;
  }

  .image2Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image2Container3 p {
    font-size: 0.91rem;
  }

  .image3Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image3Container3 p {
    font-size: 0.91rem;
  }

  .image4Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image4Container3 p {
    font-size: 0.91rem;
  }
  /* Container3 */

  /* Container4 */
  .container4 {
    gap: 1%;
    height: 61vh;
  }

  .image1Container4 img {
    margin-left: 5%;
  }

  .textContainer4 {
    margin-right: 3.4%;
  }

  .textContainer4 h2 {
    font-size: 1.8rem;
  }

  .textContainer4 p {
    font-size: 1rem;
    line-height: 22px;
  }

  .container4part2 {
    gap: 5.3%;
    height: 52vh;
  }

  .image2Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image2Container4 p {
    font-size: 0.91rem;
  }

  .image3Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image3Container4 p {
    font-size: 0.91rem;
  }

  .image4Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image4Container4 p {
    font-size: 0.91rem;
  }
  /* Container4 */

  /* Container5 */
  .container5 {
    gap: 1%;
    height: 56vh;
  }

  .textContainer5 {
    margin-left: 3.5%;
  }

  .textContainer5 h2 {
    font-size: 1.8rem;
  }

  .textContainer5 p {
    font-size: 0.92rem;
    line-height: 23px;
  }

  .image1Container5 img {
    margin-left: 8.5%;
  }
  /* Container5 */

  /* Container6 */
  .container6 {
    gap: 5%;
    height: 48vh;
    margin-top: 4%;
  }

  .firstItem img {
    width: 8rem;
    height: 8rem;
    margin-left: 1.7%;
  }

  .card1 {
    width: 12rem;
    height: 12rem;
  }

  .card1 p {
    font-size: 11.5px;
    line-height: 22px;
  }

  .secondItem img {
    width: 8rem;
    height: 8rem;
    margin-left: 2.7%;
  }

  .card2 {
    width: 12rem;
    height: 12rem;
  }

  .card2 p {
    font-size: 11.5px;
    line-height: 22px;
  }

  .textContainer6 {
    margin-right: -3%;
  }

  .textContainer6 h2 {
    font-size: 1.8rem;
  }

  .textContainer6 p {
    font-size: 0.86em;
    line-height: 22px;
  }
  /* Container6 */

  /* Container7 */
  .container7 {
    gap: 3%;
    height: 35vh;
  }

  .textContainer7 {
    margin-top: 6%;
    margin-right: 2%;
  }

  .textContainer7 h2 {
    font-size: 1.8rem;
  }

  .textContainer7 p {
    font-size: 0.92rem;
    line-height: 24px;
  }

  .image1Container7 img {
    width: 14rem;
    height: 9rem;
  }

  .image2Container7 img {
    width: 10.7rem;
    height: 9rem;
  }

  .container7part2 {
    gap: 3%;
    height: 31vh;
  }

  .image3Container7 img {
    width: 16.1rem;
    height: 9rem;
  }

  .image3Container7 p {
    font-size: 0.91rem;
  }

  .image4Container7 img {
    width: 11rem;
    height: 9rem;
  }

  .image4Container7 p {
    font-size: 0.91rem;
  }

  .image5Container7 img {
    width: 13rem;
    height: 9rem;
  }

  .image5Container7 p {
    font-size: 0.91rem;
  }
  /* Container8 */

  .container8 {
    gap: 19%;
    height: 37vh;
  }

  .infoCompany p {
    font-size: 0.9rem;
    line-height: 22px;
  }

  .pHeader {
    font-family: "Inknut Antiqua", serif;
    font-size: 1.8rem;
  }

  .aboutUs {
    margin-top: 7%;
    margin-right: 1%;
  }

  .aboutUs h2 {
    font-size: 1.8rem;
  }

  .aboutUs p {
    font-size: 0.9rem;
    line-height: 26px;
  }

  /* line */

  .line2 {
    border-bottom: 1px solid black;
  }

  /* line */

  .container8part2 {
    height: 27.3vh;
  }

  .imageLabel {
    gap: 7.6%;
    margin-top: 3.5%;
  }

  .label1 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label1 p {
    font-size: 0.8rem;
  }

  .cardLabel1 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label2 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label2 p {
    font-size: 0.8rem;
  }

  .cardLabel2 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label3 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label3 p {
    font-size: 0.8rem;
  }

  .cardLabel3 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label4 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label4 p {
    font-size: 0.8rem;
  }

  .cardLabel4 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label5 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label5 p {
    font-size: 0.8rem;
  }

  .cardLabel5 {
    width: 6.5rem;
    height: 6.5rem;
  }
  /* Container8 */

  /* Footer*/
  footer {
    gap: 26%;
    height: 31vh;
    margin-top: 5.5%;
  }

  .textFooter {
    margin-top: 6%;
  }

  .textFooter p {
    font-size: 0.9rem;
    line-height: 22px;
  }

  .footerh1 p {
    font-family: "Inknut Antiqua", serif;
    font-size: 1.8rem;
  }

  .payment {
    margin-top: 8.6%;
  }

  .payment p {
    font-size: 0.9rem;
    margin-left: 7.2%;
  }
  .payment img {
    width: 14.5rem;
    height: 4rem;
    margin-top: 2%;
    margin-left: 3%;
  }
}

@media only screen and (max-width: 992px) {
  .container1 {
    margin-top: 3%;
  }
  /* Container2 */
  .container2 {
    gap: 5%;
    height: 77vh;
  }
  .text {
    margin-top: 7%;
  }
  .text h2 {
    font-size: 40px;
  }
  .text p {
    font-size: 18px;
  }
  .image1Container2 p {
    font-size: 16px;
  }
  .image2Container2 p {
    font-size: 16px;
  }
  /* Container2 */

  /* Container3 */
  .container3 {
    gap: 1%;
    height: 80vh;
    margin-top: 4%;
  }

  .textContainer3 {
    margin-top: 7%;
    margin-left: 3.6%;
  }

  .textContainer3 h2 {
    font-size: 40px;
  }

  .textContainer3 p {
    font-size: 16.5px;
    line-height: 30px;
  }
  .image1Container3 img {
    width: 86%;
    margin-left: 8%;
  }

  .container3part2 {
    gap: 6.6%;
    height: 60vh;
  }

  .image2Container3 img {
    width: 16.5rem;
    height: 20rem;
  }

  .image3Container3 img {
    width: 16.5rem;
    height: 20rem;
  }

  .image4Container3 img {
    width: 16.5rem;
    height: 20rem;
  }
  /* Container3 */

  /* Container4 */
  .container4 {
    gap: 1%;
    height: 80vh;
  }
  .image1Container4 img {
    width: 86%;
    margin-top: 1%;
    margin-left: 7.5%;
  }

  .textContainer4 {
    margin-top: 7%;
    margin-right: 4.4%;
  }

  .textContainer4 h2 {
    font-size: 40px;
    margin-top: 3%;
  }

  .textContainer4 p {
    font-size: 16.5px;
    line-height: 30px;
    text-align: right;
  }

  .container4part2 {
    gap: 5.3%;
    width: 100%;
    height: 62vh;
  }

  .image2Container4 img {
    width: 16.5rem;
    height: 20rem;
  }

  .image3Container4 img {
    width: 16.5rem;
    height: 20rem;
  }

  .image4Container4 img {
    width: 16.5rem;
    height: 20rem;
  }
  /* Container4 */

  /* Container5 */
  .container5 {
    gap: 4%;
    height: 68vh;
  }

  .textContainer5 {
    margin-left: 5%;
  }
  .textContainer5 h2 {
    font-size: 40px;
  }

  .textContainer5 p {
    font-size: 16.5px;
  }

  .image1Container5 img {
    width: 86%;
    margin-top: 1%;
    margin-left: 7.4%;
  }
  /* Container5 */

  /* Container6 */
  .container6 {
    gap: 5%;
    height: 62vh;
    margin-top: 4%;
  }

  .firstItem img {
    width: 10rem;
    height: 10rem;
    margin-left: 2%;
  }

  .card1 {
    width: 16rem;
    height: 16rem;
  }

  .card1 p {
    font-size: 14px;
    line-height: 26px;
  }

  .secondItem img {
    width: 10rem;
    height: 10rem;
    margin-left: 3%;
  }

  .card2 {
    width: 16rem;
    height: 16rem;
  }

  .card2 p {
    font-size: 14px;
    line-height: 26px;
  }

  .textContainer6 {
    margin-right: -3%;
  }

  .textContainer6 h2 {
    font-size: 40px;
  }

  .textContainer6 p {
    font-size: 16.5px;
    line-height: 33px;
  }
  /* Container6 */

  /* Container7 */
  .container7 {
    gap: 4%;
    height: 48vh;
  }

  .textContainer7 {
    margin-top: 4.5%;
    margin-right: 2%;
  }

  .textContainer7 h2 {
    font-size: 40px;
  }

  .textContainer7 p {
    font-size: 16.5px;
    line-height: 33px;
  }

  .image1Container7 img {
    width: 19rem;
    height: 12rem;
  }

  .image2Container7 img {
    width: 13.7rem;
    height: 12rem;
  }

  .container7part2 {
    gap: 5%;
    height: 40vh;
  }

  .image3Container7 img {
    width: 19.1rem;
    height: 12rem;
  }

  .image4Container7 img {
    width: 13rem;
    height: 12rem;
  }

  .image5Container7 img {
    width: 17rem;
    height: 12rem;
  }
  /* Container8 */

  .container8 {
    gap: 27%;
    height: 42vh;
  }

  .infoCompany p {
    font-size: 16.5px;
    line-height: 24px;
  }

  .pHeader {
    font-family: "Inknut Antiqua", serif;
    font-size: 32px;
  }

  .pSide {
    margin-top: -6%;
  }

  .aboutUs h2 {
    font-size: 40px;
  }

  .aboutUs p {
    font-size: 16.5px;
    line-height: 30px;
  }

  /* line */

  .line2 {
    border-bottom: 1px solid black;
  }

  /* line */

  .container8part2 {
    height: 32vh;
  }

  .imageLabel {
    gap: 7%;
    margin-top: 3.5%;
  }

  .label1 img {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 1.5%;
    margin-left: 1.7%;
  }

  .label1 p {
    font-size: 0.8rem;
  }

  .cardLabel1 {
    width: 8.5rem;
    height: 8.5rem;
  }

  .label2 img {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 1.5%;
    margin-left: 1.7%;
  }

  .label2 p {
    font-size: 0.8rem;
  }

  .cardLabel2 {
    width: 8.5rem;
    height: 8.5rem;
  }

  .label3 img {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 1.5%;
    margin-left: 1.7%;
  }

  .label3 p {
    font-size: 0.8rem;
  }

  .cardLabel3 {
    width: 8.5rem;
    height: 8.5rem;
  }

  .label4 img {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 1.5%;
    margin-left: 1.7%;
  }

  .label4 p {
    font-size: 0.8rem;
  }

  .cardLabel4 {
    width: 8.5rem;
    height: 8.5rem;
  }

  .label5 img {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 1.5%;
    margin-left: 1.7%;
  }

  .label5 p {
    font-size: 0.8rem;
  }

  .cardLabel5 {
    width: 8.5rem;
    height: 8.5rem;
  }
  /* Container8 */

  /* Footer*/
  footer {
    gap: 30%;
    height: 36vh;
    margin-top: 6%;
  }

  .footerh1 p {
    font-family: "Inknut Antiqua", serif;
    font-size: 32px;
  }

  .payment {
    margin-top: 9%;
  }

  .payment p {
    margin-left: 7.2%;
  }
  .payment img {
    width: 18rem;
    height: 4rem;
    margin-top: 2%;
    margin-left: 3%;
  }

  /* Footer*/
}

@media only screen and (max-width: 768px) {
  header {
    gap: 56%;
  }

  .header-search p {
    gap: 2.5rem;
    font-size: 12px;
    padding-bottom: 8px;
  }

  .header-search i {
    margin-top: 6%;
  }

  .header-logo {
    font-size: 1.1rem;
  }

  .nav-header {
    gap: 1.4rem;
  }
  /* Header */

  /* Justline */

  .line {
    margin-top: 4.5%;
  }

  /* Justline */

  /* Navbar */
  nav {
    gap: 8%;
    margin-top: 3%;
  }

  nav a {
    font-size: 16px;
  }
  /* Navbar */

  .container1 {
    margin-top: 5%;
  }

  /* Container2 */

  .container2 {
    gap: 2.5%;
    height: 61vh;
  }

  .text h2 {
    font-size: 2.1rem;
  }

  .text p {
    font-size: 1.1rem;
  }

  .image1Container2 img {
    width: 14rem;
    height: 19rem;
  }

  .image1Container2 p {
    font-size: 0.9rem;
  }

  .image2Container2 img {
    width: 14rem;
    height: 19rem;
  }

  .image2Container2 p {
    font-size: 0.9rem;
  }
  /* Container2 */

  /* Container3 */
  .container3 {
    gap: 1%;
    height: 60vh;
  }

  .textContainer3 h2 {
    font-size: 1.8rem;
  }

  .textContainer3 p {
    font-size: 1rem;
    line-height: 22px;
  }

  .container3part2 {
    gap: 5%;
    height: 50vh;
  }

  .image2Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image2Container3 p {
    font-size: 0.91rem;
  }

  .image3Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image3Container3 p {
    font-size: 0.91rem;
  }

  .image4Container3 img {
    width: 13rem;
    height: 17rem;
  }

  .image4Container3 p {
    font-size: 0.91rem;
  }
  /* Container3 */

  /* Container4 */
  .container4 {
    gap: 1%;
    height: 61vh;
  }

  .image1Container4 img {
    margin-left: 5%;
  }

  .textContainer4 {
    margin-right: 3.4%;
  }

  .textContainer4 h2 {
    font-size: 1.8rem;
  }

  .textContainer4 p {
    font-size: 1rem;
    line-height: 22px;
  }

  .container4part2 {
    gap: 5.3%;
    height: 52vh;
  }

  .image2Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image2Container4 p {
    font-size: 0.91rem;
  }

  .image3Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image3Container4 p {
    font-size: 0.91rem;
  }

  .image4Container4 img {
    width: 13rem;
    height: 17rem;
  }

  .image4Container4 p {
    font-size: 0.91rem;
  }
  /* Container4 */

  /* Container5 */
  .container5 {
    gap: 1%;
    height: 56vh;
  }

  .textContainer5 {
    margin-left: 3.5%;
  }

  .textContainer5 h2 {
    font-size: 1.8rem;
  }

  .textContainer5 p {
    font-size: 0.92rem;
    line-height: 23px;
  }

  .image1Container5 img {
    margin-left: 8.5%;
  }
  /* Container5 */

  /* Container6 */
  .container6 {
    gap: 5%;
    height: 48vh;
    margin-top: 4%;
  }

  .firstItem img {
    width: 8rem;
    height: 8rem;
    margin-left: 1.7%;
  }

  .card1 {
    width: 12rem;
    height: 12rem;
  }

  .card1 p {
    font-size: 11.5px;
    line-height: 22px;
  }

  .secondItem img {
    width: 8rem;
    height: 8rem;
    margin-left: 2.7%;
  }

  .card2 {
    width: 12rem;
    height: 12rem;
  }

  .card2 p {
    font-size: 11.5px;
    line-height: 22px;
  }

  .textContainer6 {
    margin-right: -3%;
  }

  .textContainer6 h2 {
    font-size: 1.8rem;
  }

  .textContainer6 p {
    font-size: 0.86em;
    line-height: 22px;
  }
  /* Container6 */

  /* Container7 */
  .container7 {
    gap: 3%;
    height: 35vh;
  }

  .textContainer7 {
    margin-top: 6%;
    margin-right: 2%;
  }

  .textContainer7 h2 {
    font-size: 1.8rem;
  }

  .textContainer7 p {
    font-size: 0.92rem;
    line-height: 24px;
  }

  .image1Container7 img {
    width: 14rem;
    height: 9rem;
  }

  .image2Container7 img {
    width: 10.7rem;
    height: 9rem;
  }

  .container7part2 {
    gap: 3%;
    height: 31vh;
  }

  .image3Container7 img {
    width: 16.1rem;
    height: 9rem;
  }

  .image3Container7 p {
    font-size: 0.91rem;
  }

  .image4Container7 img {
    width: 11rem;
    height: 9rem;
  }

  .image4Container7 p {
    font-size: 0.91rem;
  }

  .image5Container7 img {
    width: 13rem;
    height: 9rem;
  }

  .image5Container7 p {
    font-size: 0.91rem;
  }
  /* Container8 */

  .container8 {
    gap: 19%;
    height: 37vh;
  }

  .infoCompany p {
    font-size: 0.9rem;
    line-height: 22px;
  }

  .pHeader {
    font-family: "Inknut Antiqua", serif;
    font-size: 1.8rem;
  }

  .aboutUs {
    margin-top: 7%;
    margin-right: 1%;
  }

  .aboutUs h2 {
    font-size: 1.8rem;
  }

  .aboutUs p {
    font-size: 0.9rem;
    line-height: 26px;
  }

  /* line */

  .line2 {
    border-bottom: 1px solid black;
  }

  /* line */

  .container8part2 {
    height: 27.3vh;
  }

  .imageLabel {
    gap: 7.6%;
    margin-top: 3.5%;
  }

  .label1 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label1 p {
    font-size: 0.8rem;
  }

  .cardLabel1 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label2 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label2 p {
    font-size: 0.8rem;
  }

  .cardLabel2 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label3 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label3 p {
    font-size: 0.8rem;
  }

  .cardLabel3 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label4 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label4 p {
    font-size: 0.8rem;
  }

  .cardLabel4 {
    width: 6.5rem;
    height: 6.5rem;
  }

  .label5 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 2%;
    margin-left: 2.1%;
  }

  .label5 p {
    font-size: 0.8rem;
  }

  .cardLabel5 {
    width: 6.5rem;
    height: 6.5rem;
  }
  /* Container8 */

  /* Footer*/
  footer {
    gap: 26%;
    height: 31vh;
    margin-top: 5.5%;
  }

  .textFooter {
    margin-top: 6%;
  }

  .textFooter p {
    font-size: 0.9rem;
    line-height: 22px;
  }

  .footerh1 p {
    font-family: "Inknut Antiqua", serif;
    font-size: 1.8rem;
  }

  .payment {
    margin-top: 8.6%;
  }

  .payment p {
    font-size: 0.9rem;
    margin-left: 7.2%;
  }
  .payment img {
    width: 14.5rem;
    height: 4rem;
    margin-top: 2%;
    margin-left: 3%;
  }

  /* Footer*/
}
